.comment {
    display: flex;
    align-items: center; /* Vertically center the content */
    margin: 10px; /* Add spacing between comments */
    background-image: linear-gradient( rgb(240, 248, 255,.4),  rgb(240, 248, 255,.6));
    border-radius: 10px;
    font-weight: 600;
    
  }
  
  .comment p {
    flex: 1; /* Allow the text to take up remaining space */
    margin: 10px; /* Remove default margin */
  }
  
  .actions {
    display: flex;
    gap: 10px; 
    padding-right: 20px;
  }
  
  .edit-icon, .delete-icon {
    text-decoration: none;
    color: #007bff; 
  }

  .box-container{
    overflow-x: hidden;
    overflow-y:auto;
    display:flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
  }
  .box-container::-webkit-scrollbar{
    width:2px;
  }
  .box-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .box-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .gridSlot p{
width: 90%;
  }

  .input-foot{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  }

  .response-container{
    overflow-x: hidden;
    overflow-y:auto;
  }
  .response-container::-webkit-scrollbar {
    display: none;
}

  .delete-icon{
    border: unset;
    background: unset;
    width:unset;
    padding:1px;
    margin-bottom: unset;
  
  }
  