.App{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:50%;

  
  }
  
  body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensures full viewport height */
    
  }
 

  .app-wrapper{
    background-color: azure;
  }
  
  